@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 0.98667rem;
  background: red;
}

.main {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.content {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 3.2rem;
}

.swiper-container .swiper-wrapper {
  width: 100%;
  height: 3.2rem;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 3.2rem;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 3.2rem;
}

/* 
 fu:
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  子：
  flex:1;
*/
.icon-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.icon-box .icon-item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-box .icon-item li:nth-child(1) {
  background: url(../img/xuebitu.jpg) no-repeat;
  background-size: cover;
  width: 1.62667rem;
  height: 1.28rem;
}

.icon-box .icon-item li:nth-child(1) img {
  width: 1.62667rem;
  height: 1.28rem;
}

.icon-box .icon-item li:nth-child(2) {
  width: 1.62667rem;
  height: 0.37333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.13333rem;
}

.icon-box .icon-item:nth-child(1) li:nth-child(1) {
  background-position: 0rem 0rem;
}

.icon-box .icon-item:nth-child(2) li:nth-child(1) {
  background-position: -1.48rem 0rem;
}

.icon-box .icon-item:nth-child(3) li:nth-child(1) {
  background-position: -3.38667rem 0;
}

.icon-box .icon-item:nth-child(5) li:nth-child(1) {
  background-position: -7.33333rem 0;
}

.sec {
  width: 100%;
  height: 8rem;
  border: 1px solid black;
  display: flex;
}

.sec .left {
  width: 2.66667rem;
  height: 2.66667rem;
  background: red;
}

.sec .mid {
  width: 2.66667rem;
  height: 2.66667rem;
  background: red;
}

.sec .right {
  width: 2.66667rem;
  height: 2.66667rem;
  background: red;
}

.container {
  width: 100%;
  height: 3.46667rem;
  border-bottom: 1px solid black;
  overflow: auto;
}

.container .wrapper {
  width: 300%;
  height: 3.46667rem;
  display: flex;
}

.container .wrapper .slide {
  flex: 1;
}

.footer {
  width: 100%;
  height: 40px;
  background: red;
}
