@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* 1. 嵌套 */
.wrap {
  width: 100px;
}

.wrap span {
  width: 20px;
}

.wrap span a {
  color: red;
}

.wrap span a span {
  height: 10px;
}

/* 
  变量  $变量名：变量值；
*/
.box1 {
  width: 100px;
  height: 100px;
  color: red;
}

/* 
混合宏：继承 传参数（且有默认值）   不传参数 
*/
.box2 {
  width: 10px;
  height: 20px;
}

.bo3 {
  width: 30px;
  height: 40px;
}

/* 
占位继承
*/
.box5 {
  text-align: center;
  line-height: 40px;
}

/* 函数 */
.box6 {
  font-size: 100px;
}
