@import './reset.scss'; // 要求必须有分号； window reset.scss 必须跟style.scss 放在同一个文件中


.wrap {
  @include widthHeight;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: rem(90px);

  background: #3E80CC;
  display: flex;
  color: #fff;

  .left {
    flex: 2;
    @extend %juzhong;

    span {
      font-size: rem(35px);
    }

    .icon-jiantou {
      position: relative;
    }

    .icon-jiantou::before {
      position: absolute;
      font-size: 40px;
      right: -49%;
      top: 14%;
    }
  }

  .mid {
    flex: 5.5;
    color: #000;
    @extend %juzhong;

    .input-box {
      width: 100%;
      height: 70%;
      background: #fff;
      border-radius: 6px;
      position: relative;

      .icon-fangdajing {
        font-size: rem(25px);
      }

      .icon-laji::after {
        content: "\e650";
        position: absolute;
        right: -14%;
        top: 7%;
      }

      span {
        position: absolute;
        left: 6%;
        top: 28%;
        font-size: 22px;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        background: #fff;
        border-radius: 6px;
      }
    }
  }

  .right {
    flex: 2.5;
  }

  .icon-dingdan {
    font-size: rem(50px);
    position: relative;
  }

  .icon-dingdan::before {
    position: absolute;
    left: rem(31px);
    top: rem(17px);
  }

  .icon-zhanghu:after {
    content: "\e60e";
    position: absolute;
    right: rem(21px);
    top: rem(16px);
  }
}

.main {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.content {
  width: 100%;
}

.container {
  width: 100%;

  // overflow: auto;
  .wrapper {
    width: 200%;
    display: flex;
    flex-wrap: wrap;

    .left {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 25%;
        .iconfont {
          font-size: rem(55px);
        }
        li {
          @extend %juzhong;;
          &:nth-child(1) {
            width: rem(195px);
            height: rem(100px);
          }
          &:nth-child(2) {
            width: rem(195px);
            height: rem(100px);
          }
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 25%;
        .iconfont {
          font-size: rem(55px);
        }
        li {
          @extend %juzhong;;
          &:nth-child(1) {
            width: rem(195px);
            height: rem(90px);
          }
          &:nth-child(2) {
            width: rem(195px);
            height: rem(50px);
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: rem(90px);
}