* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

.header .left, .header .mid, .container .wrapper .left .item li, .container .wrapper .right .item li {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1.2rem;
  background: #3E80CC;
  display: flex;
  color: #fff;
}

.header .left {
  flex: 2;
}

.header .left span {
  font-size: 0.46667rem;
}

.header .left .icon-jiantou {
  position: relative;
}

.header .left .icon-jiantou::before {
  position: absolute;
  font-size: 40px;
  right: -49%;
  top: 14%;
}

.header .mid {
  flex: 5.5;
  color: #000;
}

.header .mid .input-box {
  width: 100%;
  height: 70%;
  background: #fff;
  border-radius: 6px;
  position: relative;
}

.header .mid .input-box .icon-fangdajing {
  font-size: 0.33333rem;
}

.header .mid .input-box .icon-laji::after {
  content: "\e650";
  position: absolute;
  right: -14%;
  top: 7%;
}

.header .mid .input-box span {
  position: absolute;
  left: 6%;
  top: 28%;
  font-size: 22px;
}

.header .mid .input-box input {
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  border-radius: 6px;
}

.header .right {
  flex: 2.5;
}

.header .icon-dingdan {
  font-size: 0.66667rem;
  position: relative;
}

.header .icon-dingdan::before {
  position: absolute;
  left: 0.41333rem;
  top: 0.22667rem;
}

.header .icon-zhanghu:after {
  content: "\e60e";
  position: absolute;
  right: 0.28rem;
  top: 0.21333rem;
}

.main {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
}

.container .wrapper {
  width: 200%;
  display: flex;
  flex-wrap: wrap;
}

.container .wrapper .left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.container .wrapper .left .item {
  width: 25%;
}

.container .wrapper .left .item .iconfont {
  font-size: 0.73333rem;
}

.container .wrapper .left .item li:nth-child(1) {
  width: 2.6rem;
  height: 1.33333rem;
}

.container .wrapper .left .item li:nth-child(2) {
  width: 2.6rem;
  height: 1.33333rem;
}

.container .wrapper .right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.container .wrapper .right .item {
  width: 25%;
}

.container .wrapper .right .item .iconfont {
  font-size: 0.73333rem;
}

.container .wrapper .right .item li:nth-child(1) {
  width: 2.6rem;
  height: 1.2rem;
}

.container .wrapper .right .item li:nth-child(2) {
  width: 2.6rem;
  height: 0.66667rem;
}

.footer {
  width: 100%;
  height: 1.2rem;
}
